/* Centered nav styling */

body {
	margin: 0;
	}

nav a {
	text-decoration: none;
	color: #F6FFFF;
	font-size: 1.2em;
	}
nav a:hover {
	color: #343436;
	font-weight: 500;
	text-decoration: none;
	}

nav {
	background-color: #B3DDF2;
	height: 5em;
	margin: 0 auto;
	width: 100%;
	}

nav ul {
	text-align: center;
	margin: 0;
	}
nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2px;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    font-size: 1em;
    }

#mobileNav {
	display: none;
	}
.slickNav_menu {
	display: none;
	}

@media (max-width: 768px) {
	#menu {
		display: block;
		}
	#nonmobileNav {
		display: none;
		}
	.slickNav_menu {
		display: block;
		background-color: #B3DDF2;
		}
	.slickNav_btn {
		background-color: #be170e;
		}
	}
	