body {
	background-color: #b7d1c4
	z-index: 0;
}
p{font-family:lato;border-left:10px;border-right:10px;}
/*p:nth-child(11){font-size:30px; font-style:italic;}
p:nth-child(1){font-style: italic;font-size:30px;}
img{position:;}
/* Centered nav styling */

body {
	margin: 0;
	}
h1{font-size: 100px;font-family: desdemona;}
h3{text-align: right;padding-right:8%;
font-family: Lato;font-size:18px;}
h4{text-align:right;padding-right:8%;padding-left: 8%;font-family: Lato;font-size: 16px;font-style: italic;}
a {
	text-decoration: none;
	color: #000099;
	font-size: 1.2em;
	}
a:hover {
	color: #343436;
	font-weight: 500;
	text-decoration: none;
	}

nav {
	background-color: #B3DDF2;
	height: 6em;
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	}

nav ul {
	text-align: center;
	margin: 0;
	}
nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2px;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    font-size: 1em;
    }

#mobileNav {
	display: none;
	}
.slickNav_menu {
	display: none;
	}

@media (max-width: 768px) {
	#menu {
		display: block;
		}
	#nonmobileNav {
		display: none;
		}
	.slickNav_menu {
		display: block;
		background-color: #B3DDF2;
		}
	.slickNav_btn {
		background-color: #be170e;
		}
	}

	.content {
		padding-left: 8%;
		padding-right: 8%;
	}

	#largePhoto {
		width:100%;
		z-index: 0;
	}

	.logo {
		z-index: 1;
	}
	.title{padding-left: 8%;
		padding-right: 8%}

	.map{width:100%;padding-left:8%;padding-right:8%;}
	