/* Centered nav styling */

p {
color: black;
font-size: 1.2em;
font-family: 'Lato', sans-serif;
font-weight: 400;
margin-bottom: 1em;
line-height: 115%;
padding-left: 3%;
}

.dropCap {
float: left;
font-size: 2.5em;
line-height: 92%;
padding-right: .3%;
color: #be170e;
font-weight: 800;
}

h1 {
color: #be170e;
font-size: 2em;
font-family: 'Bree Serif', serif;
margin-bottom: .5em;
padding-left: 3%;
}

a {
	text-decoration: none;
	color: #F6FFFF;
	font-size: 1.2em;
	}
a:hover {
	color: #343436;
	font-weight: 500;
	}

nav {
	background-color: #B3DDF2;
	height: 5em;
	}

nav ul {
	text-align: center;
	}
nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
	vertical-align: middle;
	}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    font-size: 1em;
    }

@media (max-width: 736px) {
	.logo {
		display: none;
		}